<%= form_with(model: statement, local: true) do |form| %>
  <% if statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :statement_email, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fio, "ФИО" %>
    <%= form.text_field :fio, id: :statement_fio, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone, "Телефон" %>
    <%= form.text_field :phone, id: :statement_phone, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :position, "Должность" %>
    <%= form.text_field :position, id: :statement_position, class:"form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :place, "Место работы" %>
    <%= form.text_field :place, id: :statement_place, class:"form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :name, "Имя" %>
    <%= form.text_field :name, id: :statement_name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :test_id, :value => @test_id %>
  </div>


  <div class="form-group">
    <%= form.submit "Отправить", class:"btn btn-primary" %>
    <%= link_to "Вернуться к списку тестов", new_survey_url(test_id: @test_id), class: "btn btn-warning active" %> 

  </div>
<% end %>
