<div class="container py-5">
	<div class="row">
		<div class="col-5 d-flex justify-content-center">
			<%= image_tag 'example.jpg', class: "d-block mw-100", style: "max-height: 350px; height: auto;" %>
		</div>
		<div class="col-7 d-flex align-items-center">
			<span style="font-size: 30px; text-align: center"><strong> Ахуеть, какой то текст непонятный пиздец можно же такое написать бляяяя</strong> Короче, купи сертификат, заебал. че как тупой. Вон пройди тесты ниже и докажи что ты не дурачек</span>
		</div>
	</div>	
</div>
<div class="row d-flex justify-content-center">
 <h1> Пройди эти великолепные тесты, уеба</h1>
</div>
<div class="container mt-3">
	<% @tcategory.each do |category| %>
	<br>
		<div class="row">
			<div class="col-5"> 
				<div class="row d-flex justify-content-center">
				<%= image_tag 'shap.png', size: "110" %> 
				</div>
				<div class="row d-flex justify-content-center">
				<span style="font-size: 32px; font-weight: bold;"><%=category.title %></span>
				</div>
			</div> 
			
			<div class="col-7">
				<ul class="list-unstyled">
					<% category.tests.each do |test| %>
						<li> <%= image_tag 'logo2.jpg', size: "54x59" %> <%= link_to test.title, test_path(test) %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
</div>