
<p id="notice"><%= notice %></p>

 <div class="row offer_bloks">
    <% @posts.each do |post| %>
      <div class="col-md-4 col-sm-12">
        <a href=<%= post_path(post) %>>
            <%= if post.images.any? 
              image_tag post.images_urls[0], class: "offers_elem"
              end %>
            <div class="offers_elem_text">
             <%= post.title %>
            </div>
        </a>
        
      </div>
    <% end %>
  </div>





<%= link_to 'New Post', new_post_path %>
