<p id="notice"><%= notice %></p>
<style type="text/css">
   A {
    color: red; /* Цвет ссылок */
   }
   A:visited {
    color: #000000; /* Цвет посещенных ссылок */
   }
   A:active {
    color: #000000; /* Цвет активных ссылок */
   }
  </style>
<div class="row d-flex justify-content-center">
<h1>Супер тесты</h1>
</div>
<div class="container mt-3">
  <% @tcategory.each do |category| %>
  <br>
    <div class="row">
      <div class="col-12 col-md-4"> 
        <div class="row d-flex justify-content-center">
        <%= image_tag 'shap.png', size: "100" %> 
        </div>
        <div class="row d-flex justify-content-center">
        <span style="font-size: 32px; font-weight: bold;"><%=category.title %></span>
        </div>
      </div> 
      
      <div class="col-12 col-md-8">
        <ul class="list-unstyled">
          <% category.tests.each do |test| %>
            <li> <%= image_tag 'logo2.jpg', size: "35x40" %> <%= link_to test.title, test_path(test), style: "font-size:18px" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>





<%= link_to 'New Test', new_test_path %>
